/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
  /* LAYOUT
  /*******************************************/

html body {
  display: flex;
  flex-direction: column;
}

body .container {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 10%;
}

.container ul {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.container .burger-menu {
  margin-top: 0;
  margin-left: 0;
  padding: 0;
}

.nav-items-container {
  display: flex;
  flex-direction: column;
}

#map {
  height: 100vh;
  width: 100vw;
}

#map canvas {
  width: 100%;
  height: 100%;
}

#map .mapboxgl-marker {
  background: transparent;
  border: none;
}

img {
  display: block;
  margin: 0 auto;
  width: 25%;
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
